<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-title>Settings and filters</ion-title>
      <ion-button (click)="this.modalCtrl.dismiss(null, 'closed')" fill="clear">
        <ion-icon slot="icon-only" name="close" color="dark"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-item>
        <!-- Code go here -->
      </ion-item>
      <ion-button (click)="saveSettings()" color="dark" id="saveButton">Save</ion-button>
    </ion-col>
  </ion-row>
</ion-content>