<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-title>Settings and filters</ion-title>
      <ion-button (click)="this.modalCtrl.dismiss(null, 'closed')" fill="clear">
        <ion-icon slot="icon-only" name="close" color="dark"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Select label</ion-label>
        <ion-select value="" okText="Okay" cancelText="Cancel" [(ngModel)]="selectedLabel">
          <ion-select-option *ngFor="let label of this.labelService.usersLabels" value="{{ label.name }}">{{ label.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button (click)="saveSettings()" color="dark" id="saveButton">Save</ion-button>
    </ion-col>
  </ion-row>
</ion-content>